@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Black';
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto Light';
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Rock Salt';
  src: url('./assets/fonts/Rock_Salt/RockSalt-Regular.ttf');
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

:root {
    --color-pure-white: white;
    --color-pure-black: black;
    --color-white-violet: #F5ECFE;
    --color-yellow: #FDC500;
    --color-white: #F2F7FF;
    --color-violet: #8900F2;
    --color-light-violet: #A32BFF;
    --color-grey: #1F2028;
    --color-light-grey: #212647;
  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Rock Salt', cursive;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  
    /* color-scheme: light dark; */
    color-scheme: light;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media (color-scheme: light) {
  :root {
    background-color: var(--color-white-violet);
    color: black;
  }
}

@media (color-scheme: dark) {
  :root {
    background-color: var(--color-grey);
    color: #ffeb3b;
  }
}
